Data/Covariates/
papers/
Data/LSOA/
*.docx
*.rds
outputs/cv/error_ouput_file
outputs/prediction/error_ouput_file
Data/prediction_data/lsoa_grid_prediction.csv
outputs/prediction/rf_lsoa_prediction.csv
outputs/prediction/rf_lsoa_prediction.pdf
outputs/prediction/lsoa_pred.RData