Data/Covariates/
papers/
Data/LSOA/
*.docx
*.rds
outputs/cv/error_ouput_file
outputs/prediction/error_ouput_file
Data/prediction_data/lsoa_grid_prediction.csv
outputs/prediction/lsoa_prediction.csv
outputs/prediction/rf_lsoa_prediction.csv
outputs/prediction/lsoa_pred.RData
Figures/prediction_plot
outputs/INLA_final
outputs/prediction/INLA_model9_lsoa